services:
  postgres:
    image: postgres:18-alpine
    container_name: projectyo_postgres
    environment:
      POSTGRES_DB: secondhand_alert
      POSTGRES_USER: projectYO
      POSTGRES_PASSWORD: abcde12#
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U projectYO -d secondhand_alert"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8-alpine
    container_name: projectyo_redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data:
